* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

$color-footer: rgb(25, 82, 80);

html {
    background-color: $color-footer;
}


main {
    background-color: rgb(0, 0, 0);


}



section {


    h1 {
        color: white;
        font-weight: bold;


    }

    h2 {
        color: grey;
    }

    h3 {
        color: gray;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;

    }





    p {
        color: rgba(245, 245, 220, 0.822);
        font-size: 1.3rem;
        font-family: roboto;


    }





}

button {

    justify-content: end;
}
