    section {



        .parrafo-historia {
            padding-top: 2%;
            padding-bottom: 3%;
        }

    }

    .estetica-historia{
        background-image: linear-gradient(black, rgba(76, 231, 231, 0.658))
    }