section {



    .parrafo-home {
        padding-top: 5%;
        padding-bottom: 4%;
    }



    .h1-home {
        display: none;
    }



}

.estetica-home {

    background-image: linear-gradient(to bottom right, black 80%, rgba(0, 255, 255, 0.596));

}