section {

 

    .w-75 {

        border-radius: 20%;
        box-shadow: 8px 8px 18px rgba(57, 133, 184, 0.829);
       

    }

    .w-50 {

        border-radius: 20px;
        box-shadow: 8px 8px 18px rgba(57, 133, 184, 0.829);

    }


}



.estetica-integrantes {
    background-image: linear-gradient(to bottom right, black 50%, rgba(0, 255, 255, 0.596));
}