section {

    .w-75 {
        padding-bottom: 2%;
        border-radius: 20px;
        
    }

    .w-50{
        border-radius: 20px;
    }


}

.estetica-integrantes{
    background-image: linear-gradient(to bottom right, black 50%, rgba(0, 255, 255, 0.596));
}