section {


    .margen-videos {
        padding-bottom: 2%;
        padding-top: 1%;
        
    }

    

}


.estetica-videos{
    
    background-image: linear-gradient(to bottom left, black 50%, rgba(0, 255, 255, 0.596));
    
    }
