

nav {


    .nav-link {

        color: rgba(47, 194, 174, 0.808);
        font-family: roboto;
        font-size: 1.1rem;
        font-weight: bold;

    }

    .navbar-nav :hover {
        color: rgb(52, 226, 130);
    }

    .navbar-nav {
        
        
        gap: 40px;


    }

    


}